<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="ValidadeAnuncio" value="30"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="AnunciosList.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <add name="ClassificadosContext" providerName="System.Data.SqlClient"
         connectionString="Server=localhost;Database=classificados;Trusted_Connection=false;Persist Security Info=True;User ID=userClassificados;Password=123456;MultipleActiveResultSets=True"/>
  </connectionStrings>
  
</configuration>
